.homeh1 {
    font-size: 80px;
    text-align: center;
    color: green;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 100px;
}

.homepagelink {
    background-color: rgba(22, 165, 27, 0.432);
    color: green;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
    font-size: 45px;
}

.recipebook,
.left,
.right {
    width:460px;
    height: auto;
    margin-top: -120px;
}

.left {
    float: left;
}

.right {
    float: right;
}
.hbutton {
    color: rgb(160, 61, 3);
    font-size: 40px;
    position: absolute;
    top: 0;
    right:0;
    margin: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h1,
h2 {
    color: rgb(160, 61, 3);
    margin: 20px;
}

p,
ul,
ol {
    font-size: 36px;
    color: orange;
    margin: 20px;
}

.lasagnepic {
    width: auto;
    height: 700px;
    float:right;
    margin: 20px;
}

.chickenburgerpic {
    width: auto;
    height: 450px;
    float: right;
    margin: 20px;
}

.hotdogpic {
    width: auto;
    height: 600px;
    float:right;
    margin: 20px;
}

