* {
    font-size: 36px;
}

.hbutton {
    position: absolute;
    top: 0;
    right:0;
    margin: 20px;
}

div{
    margin-left: 50px;
}

h1 {
    font-size: 60px;
}

h1,
h2 {
    color: rgb(160, 61, 3);
    margin: 20px;
}

img {
    width: auto;
    height: 700px;
    float:right;
    margin: 20px;
}

p,
ul,
ol {
    color: orange;
    margin: 20px;
}

