
* {
    font-size: 45px;
    text-align: center;
    color: rgb(0, 144, 7);
}
h1 {
    color: rgb(0, 144, 7);
    font-size: 80px;
}

a {
    background-color: rgba(22, 165, 27, 0.432);
    margin: 80px;
    padding: 20px;
    line-height: 2;
}
.left {
    float: left;
}
.right {
    float: right;
}

.image {
    width:400px;
    height: auto;
    margin-top: -120px;
}

